.profile__button-edit {
  background-color: transparent;
  border: solid 1px #fff;
  width: 18px;
  background-image: url(../../../images/editt-button-vector.svg);
  background-repeat: no-repeat;
  height: 18px;
  margin-left: 10px;
  background-size: 7.5px 7.5px;
  background-position: center;
}

@media screen and (min-width: 570px) {
  .profile__button-edit {
    width: 24px;
    height: 24px;
    margin-left: 22px;
    background-size: 10px 10px;
  }
}
