.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 25px 22px;
  border-radius: 10px;
  position: relative;
}
@media screen and (min-width: 562px) {
  .popup__container {
    width: 385px;
    padding: 36px 20px 38px;
  }
}
