.popup__contant{
    max-width: 430px;
    min-width: 282px;
    display: flex;
    position: relative;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 34px 34px 37px;

}