.input__name {
  border: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #eee;
  margin-top: 71px;
  height: 27px;
}
@media screen and (min-width: 562px) {
  .input__name {
    margin-top: 48px;
  }
}
