.profile__name {
  width: 189px;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin: 0; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 25px;
}
@media screen and (min-width: 570px) {
  .profile__name {
    text-align: start;
    padding-left: 0;
  }
}
@media screen and (min-width: 889px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    width: 294px;
    
  }
}
