.profile__button-add {
  width: 282px;
  height: 50px;
  align-self: center;
  background-image: url(../../../images/Vector-button.svg);
  padding: 0;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
}

@media screen and (min-width: 570px) {
  .profile__button-add {
    width: 150px;
    margin-bottom: 22px;
    background-size: 22px 22px;
  }
}
