.place__button-like {
  width: 22px;
  margin-right: 20px;
  margin-left: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/Like.svg);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position-y: center;
  height: 19px;
}
.place__button-like:active {
  background-image: url(../../../images/like-active.svg);
}
.place__button-like:hover {
  opacity: 50%;
}
