.profile__job {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 282px;

}
@media screen and (min-width: 570px) {
  .profile__job {
    text-align: start;
  }
}
@media screen and (min-width: 889px) {
  .profile__job {
    font-size: 18px;
    line-height: 22px;
    width: 336px;
    text-align: start;
  }
}
