.profile__job {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
}
@media screen and (min-width: 562px) {
  .profile__job {
    font-size: 18px;
    line-height: 22px;
  }
}
